In [24]:
import pandas
data_frame = pandas.read_csv("Dataset/engine_work_orders_with_labour_hrs.csv")
data_frame

   Machine Type Main Part Replaced Assigned Maintenance Person  Labour Hours
0     TRUCK 001             Engine                Donald Knuth            11
1     TRUCK 001             Engine                Donald Knuth            14
2     TRUCK 001             Engine                Donald Knuth            13
3     TRUCK 001             Engine                Donald Knuth            14
4     TRUCK 001             Engine                Donald Knuth            14
5     TRUCK 001             Engine                Donald Knuth            14
6     TRUCK 001             Engine                Donald Knuth            13
7     TRUCK 001             Engine                John Carmack            10
8     TRUCK 001             Engine                John Carmack             9
9     TRUCK 001             Engine                John Carmack            12
10    TRUCK 001             Engine                John Carmack            99
11    TRUCK 001             Engine                John Carmack            10
12    TRUCK 001             Engine                John Carmack             9
13    TRUCK 001             Engine                John Carmack             9

In [5]:
class Employee:
    def __init__(self, name):
        self.name = name
        
    def get_age(self):
        return 123
        
emps = [ Employee("Donald"), Employee("John") ]
print(emps[0].name)
print(emps[1].name)
    
donald=[]
john=[]
donald_jobs=len(data_frame[data_frame['Assigned Maintenance Person']== "Donald Knuth"])
john_jobs=len(data_frame[data_frame['Assigned Maintenance Person']== "John Carmack"])
for i in range(donald_jobs):
    donald.append(data_frame['Labour Hours'].values[i])
for i in range(7,7+john_jobs):
    john.append(data_frame['Labour Hours'].values[i])
donald_mean=(sum(donald)/donald_jobs)
john_mean=(sum(john)/john_jobs)
print('Mean time taken:')
print('Donald Knuth:'+str(donald_mean)[:4])
print('John Carmack:'+str(john_mean)[:4])
maximum=(max(donald_mean,john_mean))
if maximum==john_mean:
    print('Therefore Donald was the quickest ')
else:
    print('Therefore John was the quickest')

Donald
John

NameError: name 'data_frame' is not defined

In [49]:
donald=sorted(donald)
donald_median=donald[int(len(donald)/2)]
john=sorted(john)
john_median=john[int(len(john)/2)]
print('Median time taken(including outliers):')
print('Donald Knuth:'+str(donald_median))
print('John Carmack:'+str(john_median))

Median time taken(including outliers):
Donald Knuth:14
John Carmack:10

In [ ]:
#OUTLIERS
#John
for i in range(7,7+john_jobs)